<p>The product selected has id: {{ id }}</p>
<!DOCTYPE html>
<html>
  <body>
    <div style="display: inline-block; vertical-align: top">
      <img src="{{ items?.startingPicture }}" height="300" width="400" />
    </div>
    <div style="display: inline-block; padding-right: 0ch">
      <br />
      <b>Rating</b>
      <br />
      <p>
        Price
        <img
          style="padding-right: 10cm"
          src="assets/Group 40.png"
          height="20"
        />
      </p>
      <p>
        Sustainability
        <img
          style="padding-right: 10cm"
          src="assets/Group 40.png"
          height="20"
        />
      </p>
      <p>{{ items?.cost }}</p>
      <button>Reviews</button>
    </div>
    <div
      style="
        display: inline-block;
        vertical-align: top;
        width: 30ch;
        height: 5cm;
        padding: 5ch;
      "
    >
      <b>Description</b>
      <p>
        {{ items?.description }}
      </p>
    </div>
    <div style="display: inline-block">
      <img src="assets\Acer_Monitors_KA2-Series_Side-View.jpg" />
    </div>
    <div class="addtocartbtn"><button  type = "button" (click) = "addToCart()">Add To Cart</button></div>
    <script src="" async defer></script>
  </body>
</html>
