<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <body>
    <div style="display: inline-block; vertical-align: top">
      <img src="assets/AcerMonitor.jpg" height="300" width="400" />
    </div>
    <div style="display: inline-block; padding-right: 0ch;">
        <br />
        <b>Rating</b>
        <br>
      <p>
        Price <img style = "padding-right: 10cm" src="assets/Group 40.png" height="20">
      </p>
      <p>
        Sustainability <img style = "padding-right: 10cm" src="assets/Group 40.png" height="20">
      </p>
      <p>
        Cost $212.00
      </p>
      <button>
        Reviews
      </button>
    </div>
     <div style="display: inline-block; vertical-align: top; width: 30ch; height: 5cm; padding: 5ch;">
        <b>Description</b>
        <p>This monitor is clean, cheap and is able to have a very good HD screen as it has 165Hz of refresh rates.</p>
    </div>
    <div style="display: inline-block">
        <img src="assets\Acer_Monitors_KA2-Series_Side-View.jpg"/>
    </div>
    <script src="" async defer></script>
  </body>
</html>
