<section class="h-100 h-custom" style="background-color: #8fc4b7; width: 800px">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Login</h3>
            <form [formGroup]="loginFormGroup" novalidate (ngSubmit)="onSubmit()">
              <div class="container">
                <div class="row">
                  <div
                    *ngIf="loginFormGroup.invalid"
                    class="col-sm-6 col-sm-offset-3"
                  >
                    <p
                      *ngIf="
                        loginFormGroup.controls.username.dirty &&
                        loginFormGroup.controls.username.hasError('required')
                      "
                    >
                      * Username is required
                    </p>
                    <p
                      *ngIf="
                        loginFormGroup.controls.password.dirty &&
                        loginFormGroup.controls.password.hasError('required')
                      "
                    >
                      * Password is required
                    </p>
                    </div>
                    </div>
                    </div>
              <p><input formControlName="username" id="username" placeholder="Your username"/></p>
              <p><input formControlName="password" id="password" placeholder="Your password" /></p>
              <p><button class="btn btn-primary" type="submit" >Login</button></p>
              </form>
              <p><a routerLink="/signup" routerLinkActive="active">Register here!</a></p>
            <!-- <form class="px-md-2">
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example1q">Username</label>
                <input type="text" id="form3Example1q" class="form-control" />
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example1q">Password</label>
                <input type="text" id="form3Example1q" class="form-control" />
              </div>

              <button type="submit" class="btn btn-success btn-lg mb-1">
                Login
              </button>
            </form> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

