<nav class="navbar navbar-expand-sm bg-dark navbar-dark" >
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="" routerLinkActive="active" (click) = "goToHomePage()">Techegg</a>
    <div class="navbar-header">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="navbar-nav ml-auto" id="navbarContent">
          <li class="nav-item" class="nav-item" id="login">
            <a class="nav-link" [hidden] = "showLogin" routerLink="/login" routerLinkActive="active" id = "login"
              >Login</a
            >
          </li>
          <li class="nav-item" class="nav-item">
            <a class="nav-link"  [hidden] = "showSignUp" routerLink="/signup" routerLinkActive="active" id = "signup"
              >Sign Up</a
            >
          </li>
          <li class="nav-item" class="nav-item" style="display: hide;">
            <a class="nav-link"  [hidden] = "showLogout" routerLink="/logout" routerLinkActive="active" id = "logout"
              >Logout</a
            >
          </li>
          <li class="nav-item" class="nav-item" style="display: hide;">
            <a class="nav-link"  [hidden] = "showAdmin" routerLink="/admin" routerLinkActive="active" id = "admin"
              >Admin</a
            >
          </li>
          <li class="nav-item" class="image">
            <img
              src="https://img.icons8.com/small/60/undefined/user-male-circle.png" routerLink = "/profile" routerLinkActive="active"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <!-- routing here -->
    <router-outlet></router-outlet>
  </div>
</div>

