<div style="display: flexS">
  <p class="text">Reviews</p>
  <div id="addReviews">
    <button type="button" mat-raised-button color = "primary" (click)="open(content)">
      Add Reviews
    </button>
  </div>
</div>
<div class="card" *ngFor="let reviews of reviewsDBList">
  <p (click)="edit(editcontent)">{{ reviews.username }}</p>
  <button mat-fab color="primary" aria-label="Example icon button with a delete icon" style="margin-left: 400px" (click) = "delete(reviews._id)">
    <mat-icon>delete</mat-icon>
  </button>
  <p (click)="edit(editcontent)">{{ reviews.description }}</p>
</div>

<ng-template #content let-modal>
  <div style="text-align: center">
    <h1>Add Reviews</h1>
  </div>
  <form [formGroup]="myForm"  #formDirective = "ngForm" (ngSubmit)="onSubmit(items, formDirective)">
    <div class="container">
      <!-- <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <p>
            <input
              type="number"
              formControlName="id"
              id="”id”"
              placeholder="Your id"
            />
          </p>
        </div>
      </div> -->
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <p>
            <input
              formControlName="username"
              id="”username”"
              placeholder="Your username"
            />
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <p>
            <input
              formControlName="description"
              id="”description”"
              placeholder="Description"
            />
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <p>
            <button class="btn btn-primary" type="submit">Add Reviews</button>
          </p>
        </div>
      </div>
    </div>
  </form>
</ng-template>
<ng-template #editcontent let-modal>
  <div style="text-align: center">
    <h1>Edit Reviews</h1>
  </div>
  <div *ngFor = "let reviews of reviewsDBList | slice:0:1;">
    <form
    [formGroup]="myForm"
    (ngSubmit) = "onUpdate(reviews._id)"
  >
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <p>
            <input
              formControlName="username"
              id= username
              value=""
            />
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <p>
            <input
              formControlName="description"
              id = {{reviews._id}}_description
            />
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <p>
            <button class="btn btn-primary" type="submit">Edit Reviews</button>
          </p>
        </div>
      </div>
    </div>
  </form>
  </div>
</ng-template>
