<div class="row">
    <div class="col-75">
      <div class="container">
        <form action="/action_page.php">
          <div class="row">
            <div class="col-50"> 
              <h3>Cart
              <span class="price" style="color:black">
                <i class="fa fa-shopping-cart"></i>
                <b>{{paymentList.length}}</b>
              </span>
            </h3>
            <div *ngFor="let payment of paymentList">
              <!-- <img src="{{payment.startingPicture}}"> -->
             <p>{{payment.name}} {{payment.cost | currency : 'SGD'}}</p>
             <p><button mat-raised-button color = "primary" (click) = "delete(items)">Delete
             </button></p>
            </div>
            <hr>
            <p>Total <span class="price" style="color:black"><b>$ {{finalSum}}</b></span></p>
            <ngx-paypal [config] = "paypalsConfig"></ngx-paypal>
              <div class="row">
                <div class="col-50">
                </div>
                <div class="col-50">
                </div>
              </div>
            </div>
  
            <div class="col-50">
              <div class="row">
                <div class="col-50">
                </div>
                <div class="col-50">
                </div>
              </div>
            </div>
  
          </div>
         
        </form>
      </div>
    </div>
  
    <!-- <div class="col-25">
      <div class="container">
        <h4>Cart
          <span class="price" style="color:black">
            <i class="fa fa-shopping-cart"></i>
            <b>{{paymentList.length}}</b>
          </span>
        </h4>
        <div *ngFor="let payment of paymentList">
         <p>{{payment.name}} {{payment.cost | currency : 'SGD'}}</p>
        </div>
        <hr>
        <p>Total <span class="price" style="color:black"><b>$ {{finalSum}}</b></span></p>
      </div>
    </div> -->
  </div>
