<div class="container" style="background-color: #84fab0; height: 500px; margin-top: 0;" >
    <div class="row mt-5" id="parent">
      <div class="form-group">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Username" id="username" /><br />

        <label for="address"><b>Address</b></label>
        <input type="text" placeholder="Address" id="address" /><br />

        <label for="firstName"><b>First Name</b></label>
        <input type="text" placeholder="First Name" id="firstName" /><br />

        <label for="lastName"><b>Last Name</b></label>
        <input type="text" placeholder="Last Name" id="lastName" /><br />

        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Email" id="email" /><br />

        <label for="phoneNumber"><b>Phone Number</b></label>
        <input
          type="text"
          placeholder="Phone Number"
          id="phoneNumber"
        /><br />

        <label for="myinput" class="mt-5">Avartar</label>
        <input id="myinput" type="file"/>
        <button type="button" class="btn btn-warning">
          Update
        </button>
      </div>
    </div>
