<div class="container" style="position:absolute; right: 0; margin-right: 0px; z-index: 10000; margin-left: 1080px;">
  <div class="shoppingCart" style="position: 0; right: 0; margin-right: 0px; margin-left: 1000px;">
    <img src="assets\shoppingCartIcon.png" height="20" width="20" routerLink="/payment" />
  </div>
</div>
<div class="container-fluid" id="left">
  <mat-drawer-container style="left: 0; margin-left: -1.3%" position="start">
    <mat-drawer #drawer mode="side" position="start" closed>
      <section class="Tech">
        <h2>Tech</h2>
        <mat-checkbox class="monitor" (change)="onCheck($event.checked, 'Monitor')" value="Monitor">
          Monitor</mat-checkbox><br />
        <mat-checkbox class="monitor" (change)="onCheck($event.checked, 'Desktop')">
          Desktop</mat-checkbox><br />
        <mat-checkbox class="monitor" (change)="onCheck($event.checked, 'Laptop')">
          Laptop</mat-checkbox><br />
      </section>

      <section class="TechA">
        <h2>Tech Accessories</h2>
        <mat-checkbox class="monitor" (change)="onCheck($event.checked, 'Monitor Arm')">
          Monitor Arm</mat-checkbox><br />
        <mat-checkbox class="monitor" (change)="onCheck($event.checked, 'Mouse')">
          Mouse</mat-checkbox><br />
        <mat-checkbox class="monitor" (change)="onCheck($event.checked, 'Headset')">
          Headset</mat-checkbox><br />
      </section>
      <section class="Stationary">
        <h2>Stationary</h2>
        <mat-checkbox class="monitor" (change)="onCheck($event.checked, 'Pencils')">
          Pencils</mat-checkbox><br />
        <mat-checkbox class="monitor" (change)="onCheck($event.checked, 'Pens')">
          Pens</mat-checkbox><br />
        <mat-checkbox class="monitor" (change)="onCheck($event.checked, 'Erasers')">
          Erasers</mat-checkbox><br />
      </section>
      <section class="Accessories">
        <h1>Accessories</h1>
        <mat-checkbox class="monitor" (change)="onCheck($event.checked, 'Pencil Case')">
          Pencil Case</mat-checkbox><br />
        <mat-checkbox class="monitor" (change)="onCheck($event.checked, 'Backpack')">
          Backpack</mat-checkbox><br />
      </section>
    </mat-drawer>
    <div class="sidenav-content" style="background-color: white">
      <button type="button" mat-button (click)="drawer.toggle()" closed style="background-color: white">
        <img src="assets\list.png" height="20" width="20" />
      </button>
      <div class = "container" style= " position:absolute; right: 0; margin-right: 0px; z-index: 10000; margin-left: 1100px;">
        <input [(ngModel)]="searchText" placeholder="search text goes here" />
      </div>
      <div class="containter"
        style="height: 1250px; width: 2100px; background-color: white; justify-content: space-around;"
        id="itemsContainer">
        <div class="row" style="left: 0;">
          <div class="card" *ngFor="
              let items of itemsDBList
                | filter: searchText
                | categoryFilter: filterKeys
            " style="position: relative; margin-top: 40px; border-color: black;">
            <img routerLink="/items" [routerLink]="['/items', items.id]" routerLinkActive="active"
              src="{{ items.startingPicture }}" height="300" width="390" />
            <p routerLink="/items" routerLinkActive="active"></p>
            <p [routerLink]="['/items', items.id]" routerLinkActive="active">
              {{ items.name }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-container>
</div>