<section class="vh-100 bg-image" style="width: 1000px; height: 500px">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form [formGroup]="register" novalidate (ngSubmit)="onSubmit()">
                <div class="container">
                  <div class="row">
                    <div
                      *ngIf="register.invalid"
                      class="col-sm-6 col-sm-offset-3"
                    >
                      <p
                        *ngIf="
                          register.controls.username.dirty &&
                          register.controls.username.hasError('required')
                        "
                      >
                        * Username is required
                      </p>
                      <p
                        *ngIf="
                          register.controls.firstName.dirty &&
                          register.controls.firstName.hasError('required')
                        "
                      >
                        * First Name is required
                      </p>
                      <p
                        *ngIf="
                          register.controls.lastName.dirty &&
                          register.controls.lastName.hasError('required')
                        "
                      >
                        * Last Name is required
                      </p>
                      <p
                        *ngIf="
                          register.controls.email.dirty &&
                          register.controls.email.hasError('required')
                        "
                      >
                        * Email is required
                      </p>
                      <p
                        *ngIf="
                          register.controls.email.dirty &&
                          register.controls.email.hasError('email')
                        "
                      >
                        * Email is invalid!
                      </p>
                      <p
                        *ngIf="
                          register.get('pwSet')?.get('password')?.dirty &&
                          register
                            .get('pwSet')
                            ?.get('password')
                            ?.hasError('required')
                        "
                      >
                        Password is required!
                      </p>
                      <p
                        *ngIf="
                          register.get('pwSet')?.get('password')?.dirty &&
                          register
                            .get('pwSet')
                            ?.get('password')
                            ?.hasError('minlength')
                        "
                      >
                        Password must have a minimum of 8 characters!
                      </p>
                      <p *ngIf="register.controls.pwSet.hasError('notmatch')">
                        * Password does not match!
                      </p>
                    </div>
                  </div>
                </div>
                <p>
                  <input
                    formControlName="username"
                    id="username"
                    placeholder="Your name"
                  />
                </p>
                <p>
                  <input
                    formControlName="firstName"
                    id="firstName"
                    placeholder="First Name"
                  />
                </p>
                <p>
                  <input
                    formControlName="lastName"
                    id="lastName"
                    placeholder="Last Name"
                  />
                </p>
                <p>
                  <input
                    formControlName="email"
                    id="email"
                    placeholder="Your email"
                  />
                </p>
                <div formGroupName="pwSet">
                  <p>
                    <input
                    type="password"
                      formControlName="password"
                      id="password"
                      placeholder="Your password"
                    />
                  </p>
                </div>
                <div formGroupName="pwSet">
                  <p>
                    <input
                    type="password"
                      formControlName="confirmPassword"
                      id="confirmPassword"
                      placeholder="Confirm Password"
                    />
                  </p>
                </div>
                <!-- <p><input formControlName="role" id="role" placeholder="user/admin" /></p> -->
                <mat-form-field appearance="fill">
                  <mat-label>Roles</mat-label>
                  <mat-select formControlName="role" id="role">
                    <mat-option
                      *ngFor="let select of selectList"
                      [value]="select.value"
                    >
                      {{ select.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <p>
                  <button class="btn btn-primary" type="submit">
                    Register
                  </button>
                </p>
                <p class="text-center text-muted mt-5 mb-0">
                  Have already an account?
                  <a
                    routerLink="/login"
                    routerLinkActive="active"
                    class="fw-bold text-body"
                    ><u>Login here</u></a
                  >
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
